html{
	width: 90%;
	margin: auto;
}

.head1{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.navbar{
	height: 60px;
	background-color: red;
	border-radius: 10px;
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.navbar a{
	color: white;
	text-decoration: none;
	font-weight: bold;
}

.navbar a:hover{
	color: antiquewhite;
}

img{
	width: 100%;
}

.swiper-1{
	position: relative;
}

.span-1{
	position: absolute;
	left: 100px;
  	top: 350px;
	color: white;
	font-size: 40px;
	font-weight: bold;
}

.span-2{
	position: absolute;
	left: 100px;
  	top: 415px;
	color: white;
	font-size: 20px;
}

#container{
	display: flex;
	flex-direction: row;
}

#divmg{
	padding: 0 40px;
}

#left{
	width: 70%;
	background-color: linen;
}

#right{
	flex: 1;
	margin-left: 20px;
}

.divside-1{
	background-color: linen;
	height: 350px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.divside-2{
	background-color: linen;
	height: 350px;
	margin-top: 10px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer{
	border-top: solid black 1px;
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}
